@value mainColor, mainDarkColor, whiteColor, lightBlueColor, blackColor, buttonColor, buttonBackgroundColor from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contents {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: buttonBackgroundColor;
    color: whiteColor;
    margin: 0;
    overflow-y: auto;
}

@media screen and (max-width: mediaQuery) {
    .container {
        width: 100%;
    }
}
